<div class="custom-field">
  <div class="custom-field__input" [ngSwitch]="field.type">
    <form [formGroup]="form">
      <mat-form-field *ngSwitchCase="CustomFieldTypes.StringType">
        <mat-label> {{ field.name }} </mat-label>
        <input
          matInput
          type="text"
          formControlName="value"
          [required]="required"
          (input)="_handleInput()"
          [value]="getCustomFieldValue(field)"
        />
      </mat-form-field>

      <mat-form-field *ngSwitchCase="CustomFieldTypes.NumberType">
        <mat-label> {{ field.name }} </mat-label>
        <input
          matInput
          type="number"
          formControlName="value"
          [required]="required"
          (input)="_handleInput()"
        />
      </mat-form-field>

      <div class="NgxEditor__Wrapper" *ngSwitchCase="CustomFieldTypes.TextType">
        <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
        <ngx-editor [editor]="editor"></ngx-editor>
      </div>

      <mat-form-field *ngSwitchCase="CustomFieldTypes.DateTimeType">
        <mat-label> {{ field.name }} </mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="value"
          [required]="required"
          (dateInput)="_handleInput()"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngSwitchCase="CustomFieldTypes.SelectType">
        <mat-label> {{ field.name }} </mat-label>
        <mat-select
          matNativeControl
          formControlName="value"
          [required]="required"
          (selectionChange)="_handleInput()"
        >
          <mat-option
            *ngFor="let option of field.selectOptions"
            [value]="option.value"
          >
            {{ option.text }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox
        *ngSwitchCase="CustomFieldTypes.BoolType"
        formControlName="value"
        (input)="_handleInput()"
        >{{ field.name }}</mat-checkbox
      >

      <input *ngSwitchDefault formControlName="value" type="hidden" />
    </form>
  </div>
</div>
