<mat-card class="list-card">
  <div class="clickable container" [routerLink]="['/list/', id]">
    <mat-card-title-group>
      <mat-card-title>
        <mat-icon>{{ topicToIcon(topic?.name!) }}</mat-icon>
        {{ title }}</mat-card-title
      >
      <mat-card-subtitle>
        <span *ngFor="let tag of tags">
          {{ tag.name + " " }}
        </span>
      </mat-card-subtitle>
      <img
        *ngIf="imageUrl"
        mat-card-md-image
        class="list-image"
        [src]="imageUrl"
      />
    </mat-card-title-group>
    <mat-card-content>
      <div [innerHtml]="description"></div>
    </mat-card-content>
  </div>
  <mat-card-actions class="list-actions" *ngIf="editable">
    <button mat-raised-button color="accent" (click)="editClick()">
      {{ "Actions.Edit" | translate }}
    </button>
    <button mat-raised-button color="warn" (click)="deleteClick()">
      {{ "Actions.Delete" | translate }}
    </button>
  </mat-card-actions>
  <mat-card-actions class="list-actions" *ngIf="canExport">
    <button mat-raised-button color="primary" (click)="downloadClick()">
      <mat-icon>file_download</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
