.table__container {
  position: relative;
  margin-top: 12px;

  &__add-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 6px;
  }
}

.list-card {
  &__container {
  }

  &__actions {
    .actions {
      &__save {
        margin: 0px 40px;
        width: 40px;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    justify-content: space-between;
  }

  &__title-group {
    display: flex;
    flex-direction: row;

    .title-group {
      &__select {
        margin-right: 6px;
        width: 60px;
        text-align: center;
        font-size: 22px;
      }

      &__title {
        width: 100%;
        font-size: 22px;
      }
    }
  }

  .other {
    padding: 0px 12px;

    &__tags {
      .tags {
        &__title {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 2px;
        }

        &__list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .tag {
            margin: 2px;
            padding: 2px 6px;
            border-radius: 4px;
            background-color: aquamarine;

            button {
              box-shadow: none;
              background-color: aquamarine;
              color: black;
            }

            button:focus {
              background-color: red;
            }
          }
        }
      }
    }
  }

  .image {
    &__preview {
      flex: 0 1 auto;
    }

    &__upload {
      margin-top: 4px;
    }
  }
}

.description__area {
  font-size: 22px;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-dialog-container {
  padding: 0;
  margin: 0;
}

.mat-header-row,
.mat-row {
  flex: 0 0 auto;
}

.delete__button {
  margin-left: 4px;
}

.edit__button {
  background-color: darkcyan;
}
