.table {
  position: relative;
  table {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }

  &__add {
    position: absolute;
    top: 0;
    right: 0;
    margin: 6px;
  }
}

.card {
  &__container {
  }

  &__body {
    display: flex;
    flex-direction: row;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1 1 33.333%;
  }

  &__title-group {
    display: flex;
    flex-direction: row;

    .title-group {
      &__select {
        margin-right: 6px;
        width: 60px;
        text-align: center;
        font-size: 22px;
      }

      &__title {
        width: 100%;
        font-size: 22px
      }
    }
  }

  .other {
    padding: 0px 12px;
  }

  .image-preview {
    flex: 0 1 auto;
  }
}


.description__area {
  font-size: 22px;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-dialog-container {
  padding: 0;
  margin: 0;
}

.mat-header-row,
.mat-row {
  flex: 0 0 auto;
}

.delete__button {
  margin-left: 4px;
}

.edit__button {
  background-color: darkcyan;
}
