<mat-card>
  <form [formGroup]="form">
    <div class="list-card list-card__container">
      <div class="list-card__body">
        <div class="list-card__column">
          <div class="list-card__title-group">
            <mat-form-field class="title-group__select">
              <mat-label><mat-icon>extension</mat-icon></mat-label>
              <mat-select>
                <mat-option value="1"><mat-icon>book</mat-icon></mat-option>
                <mat-option value="2"><mat-icon>book</mat-icon></mat-option>
                <mat-option value="3"><mat-icon>book</mat-icon></mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="title-group__title">
              <mat-label>{{ "List.Fields.Title" | translate }}</mat-label>
              <input matInput class="title__input" formControlName="title" />
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>{{ "List.Fields.Description" | translate }}</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>

        <div class="list-card__column">
          <div class="other">
            <div class="other__image-src">
              <mat-form-field class="image-src">
                <mat-label>{{ "List.Fields.ImageUrl" | translate }} </mat-label>
                <input matInput formControlName="imageUrl" />
              </mat-form-field>
            </div>
            <div class="other__tags tags">
              <div class="tags__title">
                {{ "List.Fields.Tags" | translate }}
              </div>
              <div class="tags__list">
                <div class="tag" *ngFor="let tag of tags">
                  {{ tag }}
                  <button mat-mini-fab (click)="removeTag(tag)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
              <mat-form-field class="tags__input">
                <mat-label>{{ "List.Fields.Tag" | translate }}</mat-label>
                <input
                  matInput
                  (keyup.enter)="addTag()"
                  formControlName="tag"
                />
              </mat-form-field>
              <button mat-button (click)="addTag()">
                {{ "Actions.Add" | translate }}
              </button>
            </div>
          </div>
        </div>

        <div class="">
          <div class="image-preview">
            <img [src]="getImageUrl()" width="160" />
          </div>
        </div>
      </div>
    </div>

    <mat-card-actions>
      <div class="card__actions actions">
        <button
          mat-raised-button
          class="actions__save"
          color="primary"
          (click)="saveListInfo()"
        >
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>

<div class="table__container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of columnNames">
          {{ column | titlecase }}
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td *ngFor="let customField of item.customFields">
          {{ getCustomFieldValue(customField) }}
        </td>
        <td>
          <button
            mat-mini-fab
            class="edit__button"
            (click)="openEditItemDialog(item)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-mini-fab
            class="delete__button"
            color="warn"
            (click)="deleteItem(item.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <div class="table__container__add-button">
      <button mat-mini-fab (click)="openAddItemDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </table>
</div>
