<mat-card class="table__container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">{{ "Item.Fields.Tags" | translate }}</th>

        <th scope="col" *ngFor="let column of columnNames">
          {{ column | titlecase }}
        </th>
        <th scope="col" *ngIf="isEdit">{{ "Actions.Actions" | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <tr class="table__row" *ngFor="let item of items; let i = index">
        <th scope="row" [routerLink]="['/item/', item.id]">{{ i + 1 }}</th>
        <td [routerLink]="['/item/', item.id]">{{ item.name }}</td>
        <td [routerLink]="['/item/', item.id]">
          <span *ngFor="let tag of item.tags"> {{ tag.name }} <br /> </span>
        </td>
        <td
          *ngFor="let customField of filterTableFields(item.customFields)"
          [routerLink]="['/item/', item.id]"
          [innerHtml]="getCustomFieldValue(customField)"
        ></td>

        <td *ngIf="isEdit">
          <button mat-mini-fab color="accent" (click)="editItem(item)">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="warn"
            class="delete__button"
            (click)="deleteItem(item.id)"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </td>
      </tr>
      <tr></tr>
    </tbody>
    <div class="table__container__add-button" *ngIf="isEdit">
      <button mat-mini-fab (click)="addItem()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </table>
</mat-card>
