<div class="wrapper">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox" />
      <label class="m-menu__toggle" for="menu">
        <mat-icon>menu</mat-icon>
      </label>
      <label class="m-menu__overlay" for="menu"></label>

      <div class="m-menu">
        <div class="m-menu__header">
          <label class="m-menu__toggle" for="menu">
            <mat-icon>close</mat-icon>
          </label>
          <span>{{ "Header.Menu.Title" | translate }}</span>
        </div>
        <ul>
          <li>
            <label class="a-label__chevron" for="languages">{{
              "Header.Menu.Items.Languages.Title" | translate
            }}</label>
            <input
              type="checkbox"
              id="languages"
              name="languages"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="languages">
                  <mat-icon>arrow_back</mat-icon>
                </label>
                <span>{{
                  "Header.Menu.Items.Languages.Title" | translate
                }}</span>
              </div>
              <ul>
                <li (click)="toggleLanguage('ru')">
                  <label>{{
                    "Header.Menu.Items.Languages.Russian" | translate
                  }}</label>
                </li>
                <li (click)="toggleLanguage('en')">
                  <label>{{
                    "Header.Menu.Items.Languages.English" | translate
                  }}</label>
                </li>
              </ul>
            </div>
          </li>

          <li>
            <label class="a-label__chevron" for="themes">{{
              "Header.Menu.Items.Themes.Title" | translate
            }}</label>
            <input
              type="checkbox"
              id="themes"
              name="themes"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="themes">
                  <mat-icon>arrow_back</mat-icon>
                </label>
                <span>{{ "Header.Menu.Items.Themes.Title" | translate }}</span>
              </div>
              <ul>
                <li (click)="toggleTheme(true)">
                  <label>{{
                    "Header.Menu.Items.Themes.Dark" | translate
                  }}</label>
                </li>
                <li (click)="toggleTheme(false)">
                  <label>{{
                    "Header.Menu.Items.Themes.Light" | translate
                  }}</label>
                </li>
              </ul>
            </div>
          </li>
          <li *ngIf="isAuthorize" (click)="logout()" class="sign-out">
            <label>{{ "Header.Menu.Logout" | translate }}</label>
          </li>
        </ul>
      </div>

      <div class="logo" [routerLink]="['/home']">Listography</div>

      <div class="spacer"></div>
      <form [formGroup]="form" class="search">
        <mat-form-field class="search__input">
          <input matInput formControlName="search" />
        </mat-form-field>
        <button mat-raised-button class="search__button" (click)="search()">
          <mat-icon>search</mat-icon>
        </button>
      </form>
      <div class="spacer"></div>

      <div class="account">
        <div class="account__buttons" *ngIf="!isAuthorize">
          <a routerLink="/login" mat-button>{{
            "Header.Toolbar.Login" | translate
          }}</a>
          <a routerLink="/register" mat-button>{{
            "Header.Toolbar.Register" | translate
          }}</a>
        </div>
        <div class="account__me" *ngIf="isAuthorize" [routerLink]="['/me']">
          <mat-icon>person</mat-icon>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
