.template {
  margin-top: 14px;
}

.custom-field {
  &__form {
    display: flex;
    flex-direction: row;
  }

  &__type {
    margin-left: 10px;
    margin-right: 14px;
  }

  &__actions {
    margin-right: 10px;
  }
}

.select {
  &__form {
    display: flex;
    flex-direction: row;
  }
}
