<mat-card>
  <form [formGroup]="form">
    <div class="list-card list-card__container">
      <div class="list-card__body">
        <div class="list-card__column">
          <div class="list-card__title-group">
            <mat-form-field class="title-group__select">
              <mat-label><mat-icon>extension</mat-icon></mat-label>
              <mat-select>
                <mat-option value="1"><mat-icon>book</mat-icon></mat-option>
                <mat-option value="2"><mat-icon>book</mat-icon></mat-option>
                <mat-option value="3"><mat-icon>book</mat-icon></mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="title-group__title">
              <mat-label>{{ "List.Fields.Title" | translate }}</mat-label>
              <input matInput class="title__input" formControlName="title" />
            </mat-form-field>
          </div>

          <mat-form-field>
            <mat-label>{{ "List.Fields.Description" | translate }}</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>

        <div class="image">
          <div class="image__preview">
            <img [src]="imageUrl" width="160" />
          </div>

          <div class="image__upload">
            <input
              type="file"
              accept="image/*"
              (change)="uploadImage($event)"
            />
          </div>
        </div>
      </div>
    </div>

    <mat-card-actions>
      <div class="card__actions actions">
        <button
          mat-raised-button
          class="actions__save"
          color="primary"
          (click)="saveListInfo()"
        >
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>
