.item {
  &__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 24px 0px;
  }

  &__body {
    padding: 14px;
  }

  &__tags-title {
    font-size: 16px;
    font-weight: bold;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .tag {
      margin: 10px;
      padding: 10px 20px;
      border-radius: 14px;
    }
  }

  &__custom-fields {
  }

  &__social {
  }

  .social {
    margin-left: 16px;

    &__likes {
    }

    .likes {
      &-button {
        background-color: #d8d9cf;
        margin-right: 12px;

        mat-icon {
          color: #ededed;
        }
      }

      &-count {
      }

      .liked {
        mat-icon {
          color: #ff8787;
        }
      }
    }

    &__comments {
      margin-top: 34px;
      .comments {

        &__title {
          font-size: large;
          font-weight: bold;
        }

        &__input {
          display: flex;

          mat-form-field {
            width: 70%;

            textarea {
              min-height: 76px;
            }
          }

          button {
            margin-left: 10px;
            align-self: center;
          }
        }

        &__body {
          .comment {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
