<div class="item">
  <div class="item__title">{{ item?.name ?? '' }}</div>
  <div class="item__body">
    <div class="item__tags-title">
      {{ "Item.Fields.Tags" | translate }}
    </div>
    <div class="item__tags">
      <div
        class="tag"
        *ngFor="let tag of item?.tags"
        [ngStyle]="{ 'background-color': getRandomColor() }"
      >
        {{ tag.name }}
      </div>
    </div>

    <div class="item__custom-fields">
      <app-custom-field
        *ngFor="let field of item?.customFields"
        [field]="field"
      ></app-custom-field>
    </div>
  </div>
</div>
